* {

    margin: 0;

    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: antiquewhite;
    background: #001b25;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051105;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: azure;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: blanchedalmond;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: aqua;

}

.Home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(background.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
    margin-top: 250px;
    margin-left: 20px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h1:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 span {
    color: aqua;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-scl a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 15px 30px 0;

}

.home-scl a:hover {
    background-color: aqua;
    color: black;
    box-shadow: 0 0 20px aqua;
}

.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 12;
    box-shadow: 0 0 5px aqua,
        0 0 25px aqua;

    margin-top: 20px;
}

.btn-box:hover {
    box-shadow: 0 0 5px aqua,
        0 0 25px aqua, 0 0 50px aqua,
        0 0 100px aqua, 0 0 200px aqua;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    height: 20%;

}

.about-img img src {
    height: 20px;
    width: 35px;
    margin-left:20px;
}

.about-text h2 {
    font-size: 60px;
}

.about-texth2 span {
    color: aqua;
}

.about-text h4 {
    font-size: 25px;
    font-weight: 600;
    color: azure;
    line-height: 1.7;
    margin: 15px 0 30px;

}

.about-text p {
    color: azure;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: aqua;

}

.container {
    padding: 90px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #002290f7, 1px 1px 40px #0053b4f7;

}

.services-list div l {
    font-size: 50px;
    margin-bottom: 30px;

}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 20px;
    background: aqua;
    border-radius: 40px;
    font-size: 15px;
    color: #003b2f;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 12;
    box-shadow: 0 0 5px aqua,
        0 0 25px aqua;
}

.read:hover {
    box-shadow: 0 0 5px aqua,
        0 0 25px aqua, 0 0 50px aqua,
        0 0 100px aqua, 0 0 200px aqua;
}

.services-list div:hover {
    transform: translateY(-10px);

}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.container1 .Technical-bars .bar {

     margin-bottom: 15px;
}

.container1 .Technical-bars .bar .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.container1 .Technical-bars .bar span {
    font-size: 17px;
    font-weight: 500;
}

.container1 .Technical-bars .bar .progress-line {
    position: relative;
    height: 5px;
    width: 100%;
    background-color:white;
}

.container1 .Technical-bars .bar .progress-line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:aqua;
}


.Technical-bars .bar .html::before {
    width: 90%;
}

.Technical-bars .bar .css::before{
    width: 60%;
}

.Technical-bars .bar .JavaScript::before {
    width: 40%;
}

.Technical-bars .bar .python::before {
    width: 75%;
}

.Technical-bars .bar .cpp::before {
    width: 80%;
}


.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: aqua;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards
}


@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 170;;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;;
    }
}
.radial-bar .per{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

 .radial-bar .tex{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -15px;
    transform: translate(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    background: red;

}
.section-content{
    background-color:black;
    padding: 2rem;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: justify; 
    align-items: center;   
}
.section-content h2{
    align-items: center;
    color: white;

    
}
.Download-button{
    align-items: center;
    background-color:transparent;
    color:aqua;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    align-self: center;
    

}
.Download-button:hover{
    background-color:black;
}
footer{
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color:#fff;
}

















@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}